@import "../common/colors";

.todo {
  &__btn {
    &-delete {
      color: $white;
      background-color: $base-color;
      border: none;

      &:hover {
        background-color: $base-color-lighter;
      }

      &:active {
        background-color: $secondary-color;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &_centered-horizontally {
    float: right;
    line-height: normal;
    vertical-align: middle;
  }

  &__divider {
    border-color: $secondary-color;
  }

  &__text {
    &_done {
      @extend .todo__text;
      color: $base-color;
      text-decoration: line-through;
    }

    word-wrap: break-word;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  text-align: left;
  cursor: move;
  user-select: none;
}
