@import "mixins";
@import "colors";

.textfield {
  &__floating {
    @include float-label-container;

    @include float-label;
  }

  &__input {
    width: 100%;

    outline: none;
    box-shadow: none !important;
    border: none !important;

    @include float-label-input;
    font-size: inherit;
    padding-top: 1em;
    margin-bottom: 2px;

    @include float-label-scaled {
      top: 0.25em;
    }

    &:focus {
      outline: none;
    }
  }

  

  &__border {
    &_animated {
      content: "";
      position: absolute;
      height: 3px;
      top: 0;
      width: 0%;
      left: 50%;
      transform: translateX(-50%);
      background: $base-color-lighter;
      z-index: 666;
    }

    &_maximizing {
      animation: maximize 1s linear forwards;
    }

    &_minimizing {
      animation: minimize 1s linear forwards;
    }

    border-bottom: 1px solid $secondary-color;
    position: relative;
  }

  display: inline-block;
}

@keyframes maximize {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes minimize {
  to {
    width: 0%;
  }
  from {
    width: 100%;
  }
}
